name: Docker Build and Release
on: [ push ]
env:
  #### An dieser Stelle müssen eure persönlichen Umgebungsvariablen eingetragen werden
  # Tipp: Die Token/der API-Key werden als Secrets in den Repository-Settings eingetragen und hier referenziert.
  # Test
  GITHUB_ACCESSTOKEN: ${{ secrets.GITHUB_ACCESSTOKEN }}
jobs:
  compile:
    name: Compile
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: 11

      - name: Compile, build and push
        run: |
          #### AUFGABE COMPILE, DOCKER BUILD UND PUSH
            # hier ist Platz für maven package und docker build
            mvn package
             docker login --username manu-lisa --password ${{secrets.swt2_vorlesung}} ghcr.io
            docker build -t ghcr.io/manu-lisa/pet-clinic:latest -f Dockerfile . 
             docker push ghcr.io/manu-lisa/pet-clinic:latest  
